
<header>
  <div class="header-base-line align-items-center d-flex justify-content-center">
    <div class="header-base-line-content">
      <h1 style="">Merci à tous</h1>
      <h3>Challenge 2018 terminé rendez vous l'année prochaine</h3>
      <br>
      <a href="http://gala-stars-en-piste-inscriptions.strikingly.com/" class="btn btn-orange-lg pulse">S'inscrire pour le gala Stars en Piste</a>

    </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('<%= image_path "header-slide10.JPG" %>')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below-->
      <div class="carousel-item" style="background-image: url('<%= image_path "header-slide20.JPG" %>')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('<%= image_path "header-slide30.JPG" %>')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Explication du Challenge -->
<div class="headline-wrapper d-flex justify-content-center align-items-center" id="challenge">
  <div class="headline">
    <h2><span style="border-bottom: 2px solid #F75100;">Présentation</span> du challenge Assurances Vélo</h2>
    <h3>En participant à une cyclosportive partenaire tu concours automatiquement pour le challenge. <br><br> Le classement se fait au nombre de kilomètres parcourus sur l’ensemble des épreuves et non sur la performance, il vous suffit d’être régulier pour gagner ! <br><br>
9 Catégories récompensés : 5 hommes, 3 femmes et 1 handisport. </h3>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/pvWKj94AV_4" frameborder="0" allowfullscreen style="margin-top:2em;"></iframe>
  </div>
</div>

<!-- Cyclosportes partenaires -->

<div class="cyclo-wrapper" id="epreuves">
 <div class="cyclo" id="about">
   <h2><span style="border-bottom: 2px solid #F75100;">Cyclospostives </span>partenaires</h2>
   <h3>16 cyclosportives | 2365 km | 15.000 m de dénivelé | 20.000 participants</h3>
 </div>

<!-- <center style="padding-bottom: 2em;"><div class="col-sm-6 mx-auto"><img src="<%= image_path "carte.jpg"%>" alt=""> </center>
 -->
 <div class="container">
   <div class="row cyclo-row-padding">
    <% @cyclos.each do |cyclo| %>
    <div class="col-sm-4 col-xs-12">
     <div class="card card-cyclo" style="width: 20rem;">
       <a href="<%= cyclo.url %>" class="cyclo-link" target="_blank" rel="nofollow">
         <div class="cyclo-hover">
           <div class="cyclo-hover-content">
             <i class="fa fa-plus fa-3x"></i>
           </div>
         </div>
         <img class="card-img-top" src="<%= image_path  cyclo.photo %>" alt="Card image cap">
         <div class="card-block card-block-cyclo">
           <h4 class="card-title"><%= cyclo.name %></h4>
           <p class="card-text"><span style="color:#F75100;"><%= cyclo.etape %></span> du challenge
            <br><br>
            lieu : <span style="color:#F75100;"><%= cyclo.address %></span>
            <br>
            date : <span style="color:#F75100;"><%= cyclo.date %></span>
            <br>
            distance : <span style="color:#F75100;"><%= cyclo.distance %></span>
            <br>
            <br>
            Challenge : <span class="badge badge-primary"><%= cyclo.velocourse %></span> <span class="badge badge-success"><%= cyclo.vae %></span>
          </p>
         </a>
       </div>
     </div>
     <br>
   </div>
   <% end %>
 </div>
</div>
</div>





<!-- Lots -->

<div class="lot-wrapper d-flex justify-content-center align-items-center" id="lots">
  <div class="lot">
    <h2><span style="border-bottom: 2px solid #F75100;">20 000€ de lots</span> à gagner</h2>
    <h3>La plus grande remise des récompenses pour un Challenge amateur. <br> En 2017, 22.000€ de dotations de nos partenaires ont été distribués pour vous récompenser. </h3>
    <%= link_to "Voir les lots", lots_path, class: "btn btn-orange-white" %>
  </div>
</div>

<!-- Avis Client -->

<div class="avis-wrapper">
  <div class="cyclo" id="about">
    <h2><span style="border-bottom: 2px solid #F75100;">Avis</span> de cyclosportfs</h2>
    <h3>Ils sont acteurs du challenge assurances vélo depuis 2017</h3>
  </div>

  <div class="avis">
    <div class="container">
      <div class="row">
        <% @recommandations.each do |recommandation| %>
        <div class="avis-membre div col-sm-4">
          <img src="<%= image_path recommandation.photo %>" alt="" class="rounded-circle">
          <h4><%= recommandation.name %></h4>
          <h5><%= recommandation.statut %></h5>
          <p><%= recommandation.view %></p>
        </div>
        <br>
        <% end %>
      </div>
    </div>
  </div>

</div>

<!-- Inscription -->

<!-- Marques -->

<div class="company-wrapper" id="linkpartenaires">
  <div class="company-text">
    <h2><span style="border-bottom: 2px solid #F75100;">Les marques</span> qui vous récompensent</h2>
  </div>
  <div class="container">
    <div class="row">
      <% @marques.each do |marque| %>
      <div class="col-md-2 col-sm-3 col-xs-4">
        <div class="company-img">
          <a href="<%= marque.url %>" target="_blank" rel="nofollow"><img class="img-company img-reponsive" src="<%= image_path  marque.logo %>" alt=""></a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


